<h1>About the Apparition</h1>
<p>I’m a fledgling Journalism student from Western Sydney, NSW, Australia. I have always had an interest in the unknown and the unexplainable from a young age and I’m lucky to come from a very literary-inclined family.</p>
<p>I enjoy all sorts of horror movies (the cheesier the better) and have an uncommon obsession with zombies and LKH’s sex-crazed Vampires. In my spare time I like to climb rock faces, do photoshoots of gravestones and babble uncontrollably on my sister blog www.theargumentalmuse.wordpress.com. I’m currently in training for the Zombocalypse and running my body into the ground with the aid of my fellow future survivors in ZA Training.</p>
<p>I want to dig my fingers into the grassroots Paranormal organisations that provide help and research for those who are in need of it, and help them get the exposure that they deserve. Hopefully one day the Paranormal field will be up there as a science… but until then, I’m happy to work in the underground.
It is my goal one day to start a regular publication specifically for the Metaphysically minded, but until then feel free to flick back through the articles and follow me on Twitter!</p>
<p>Any questions about articles or if you wish to find out more about the groups that I cover please contact me at tgwozmail@gmail.com</p>
